<div style="position: fixed; top: 0; left: 0">
  <button (click)="prevFrame.set(frame()); frame.set(frame() - 1)">
    Frame-
  </button>
  <button (click)="prevFrame.set(frame()); frame.set(frame() + 1)">
    Frame+
  </button>
  <span>at {{ frame() }} from {{ prevFrame() }}</span>
</div>

<app-canvas />

<div style="display: flex; height: 100%">
  <div
    style="
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
      height: 100%;
    "
  >
    <div [@lCade]="getFrameTransition(lCadeFrames)">
      <span>Cade</span>
    </div>
    <div><span>Weiskopf</span></div>
  </div>

  <div
    style="
      display: flex;
      justify-content: flex-end;
      width: 50%;
      align-items: center;
    "
  >
    <div
      [@words]="getFrameTransition(wordsFrames)"
      id="words"
      style="display: flex; background-color: red"
    >
      <div [@cade]="getFrameTransition(cadeFrames)" style="flex-grow: 1">
        <span
          style="display: inline-block; overflow: hidden; white-space: nowrap"
          [@cadeSpan]="getFrameTransition(cadeSpanFrames)"
          >cade</span
        >
      </div>
      <div [@w]="getFrameTransition(wFrames)">
        <span>w</span>
      </div>
      <div>
        <span>.</span>
      </div>
      <div>
        <span>dev</span>
      </div>
    </div>
  </div>
</div>

<!-- <nav>
  <button type="button" (click)="toggle()">Toggle Open/Close</button>
</nav>
<div [@openClose]="isOpen ? 'open' : 'closed'" class="open-close-container">
  <p>The box is now {{ isOpen ? "Open" : "Closed" }}!</p>
</div> -->
