<div style="position: fixed; top: 0; left: 0">
  <button (click)="frame.set(frame() - 1)">Frame-</button>
  <button (click)="frame.set(frame() + 1)">Frame+</button>
  <span>at frame{{ frame() }}</span>
</div>

<app-canvas />

<div class="anim-wrapper">
  <div class="left">
    <div class="words">
      <div [@lCade]="getFrameTransition(lCadeFrames)">
        <span>Cade</span>
      </div>
      <div [@lW]="getFrameTransition(lWFrames)"><span>Weiskopf</span></div>
    </div>
  </div>

  <div class="right">
    <div class="words" [@words]="getFrameTransition(wordsFrames)">
      <div [@cade]="getFrameTransition(cadeFrames)" style="flex-grow: 1">
        <span [@cadeSpan]="getFrameTransition(cadeSpanFrames)">cade</span>
      </div>
      <div [@w]="getFrameTransition(wFrames)">
        <span [@wSpan]="getFrameTransition(wSpanFrames)">w</span>
      </div>
      <div
        [@dot]="getFrameTransition(dotFrames)"
        style="display: flex; justify-content: flex-end"
      >
        <span [@dotSpan]="getFrameTransition(dotSpanFrames)">{{
          dotTextPhases[frame()]
        }}</span>
      </div>
      <div>
        <span>dev</span>
      </div>
    </div>
  </div>
</div>
