:host {
  // font-family: "Rubik Mono One";
}

.anim-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  height: 100%;
}

span {
  font-size: clamp(1rem, 5vmin, 3rem);
  line-height: clamp(1rem, 5vmin, 3rem);
}

.extra-line-height {
  line-height: calc(clamp(1rem, 5vmin, 3rem) + 1em);
}

.left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  word-break: break-all;
  text-transform: uppercase;
}

.left > .words:first-child {
  all: unset;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.left > .words:first-child > * {
  padding: 0 0.2rem;
}

.left span {
  color: white;
}

.right {
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  width: 50%;
  align-items: center;

  --color-one: hsl(300, 90%, 55%, 0.5);
  --color-two: hsl(253, 95%, 55%, 0.5);
  --color-three: hsl(342, 90%, 40%, 0.5);
  background: radial-gradient(
      circle at 0% 0%,
      var(--color-one) -30%,
      rgba(255, 255, 255, 0) 25%
    ),
    radial-gradient(
      circle at 100% 0%,
      var(--color-two) -45%,
      rgba(255, 255, 255, 0) 50%
    ),
    radial-gradient(
      circle at 15% 100%,
      var(--color-three) -71%,
      rgba(255, 255, 255, 0) 50%
    );
  background-size: 100% 100%;
  background-repeat: repeat;
  background-blend-mode: difference;
  animation: right-zoom 10s alternate infinite;
}

@keyframes right-zoom {
  0% {
    background-size: 100% 100%;
  }
  100% {
    background-size: 200% 200%;
  }
}

.right > .words:first-child {
  all: unset;
  display: flex;
  position: relative;
}

.right > .words:first-child > * {
  display: flex;
  align-items: center;
}

.right span {
  display: inline-block;
  // overflow: hidden;
  height: 100%;
}

.right span,
::ng-deep .right a:hover span {
  --bg-size: 400%;
  --color-one: hsl(300, 90%, 55%);
  --color-two: hsl(253, 95%, 55%);
  --color-three: hsl(342, 95%, 40%);
  --color-four: hsl(195, 95%, 55%);
  background: linear-gradient(
      90deg,
      var(--color-one),
      var(--color-two),
      var(--color-one)
    )
    0 0 / var(--bg-size) 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: animate-text-gradient 8s infinite linear;
}

@keyframes animate-text-gradient {
  to {
    background-position: var(--bg-size) 0;
  }
}

.end-card {
  position: absolute;
  top: calc(50% + clamp(1.5rem, 8vmin, 6rem));
  left: 0.2rem;
  background: transparent;
  display: flex;
  flex-direction: column;
  transition: 2s;
  opacity: 0;
}
