<canvas #canvas></canvas>
<div class="content"></div>
@if (showEnd()) {
<!-- <h1 style="position: fixed; top: 51%; left: 35%">Let's work together</h1> -->
<button style="position: fixed; top: 70%; left: 35%">Download resume</button>
<button style="position: fixed; top: 70%; left: 30%">Get in touch</button>
} @else {
<div style="position: fixed; bottom: 10px; right: 10%">
  Scroll for an experience
</div>
<div style="position: fixed; bottom: 10px; right: 5%">or</div>
<div style="position: fixed; bottom: 10px; right: 0px">]='.'=|</div>
}
