@font-face {
  font-family: "rubik mono";
  src: url("./assets/RubikMonoOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  height: 100vh;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
